[submodule "03_Dev_Lab/websites/framere tutorial 1/muontickets"]
	path = 03_Dev_Lab/websites/framere tutorial 1/muontickets
	url = https://github.com/muonium-ai/muontickets.git
[submodule "03_Dev_Lab/tts-projects/tamil-tts/tickets/mt/muontickets"]
	path = 03_Dev_Lab/tts-projects/tamil-tts/tickets/mt/muontickets
	url = https://github.com/muonium-ai/MuonTickets.git
[submodule "03_Dev_Lab/claude/ai-system/muontickets-core"]
	path = 03_Dev_Lab/claude/ai-system/muontickets-core
	url = https://github.com/muonium-ai/muontickets.git
[submodule "03_Dev_Lab/gis-projects/3d-map/muontickets"]
	path = 03_Dev_Lab/gis-projects/3d-map/muontickets
	url = https://github.com/muonium-ai/muontickets.git
[submodule "scene-recreator/ui-ux-pro-max-skill"]
	path = scene-recreator/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
[submodule "scene-recreator/tickets/mt/muontickets"]
	path = scene-recreator/tickets/mt/muontickets
	url = https://github.com/muonium-ai/muontickets.git
